* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
}

.game-wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-wrapper #menu .mes-ba {
  width: 40vw;
}

.game-wrapper #menu .mes-ba img {
  width: 100%;
}

.game-wrapper .score-desk {
  color: black;
  font-weight: bold;
  font-family: arial;
  height: 5vh;
  width: 100%;
  font-size: 5vh;
  background: #C8891F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-wrapper .score-desk #title-block {
  height: 5vh;
}

.game-wrapper .score-desk #title-block #title-img {
  height: 5vh;
  width: auto;
}

.game-wrapper .score-desk #menu-block a {
  text-decoration: none;
}

.game-wrapper .lose-block {
  background: black;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95vh;
}

.game-wrapper .lose-block .lose-h1 {
  color: red;
  font-size: 5rem;
}

.game-wrapper .lose-block .restart-lose-button {
  width: 100%;
  padding: 1rem;
  background: url("../img/messages/text.png");
  color: red;
  border: red 2px solid;
  border-radius: 2rem;
  font-size: 3.5rem;
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-weigth: bold;
}

.game-wrapper .lose-block .restart-lose-button:hover {
  -webkit-box-shadow: 0 0 40px red;
          box-shadow: 0 0 40px red;
}

.game-wrapper .lose-block .mes-go {
  width: 40vw;
}

.game-wrapper .lose-block .mes-go img {
  width: 100%;
}

.game-wrapper .win-block {
  background: black;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 95vh;
}

.game-wrapper .win-block .win-h1 {
  color: green;
  font-size: 5rem;
}

.game-wrapper .win-block .restart-win-button {
  width: 100%;
  padding: 1rem;
  background: url("../img/messages/text.png");
  color: green;
  border: green 2px solid;
  border-radius: 2rem;
  font-size: 3.5rem;
  -webkit-box-shadow: 0 0 20px green;
          box-shadow: 0 0 20px green;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-weigth: bold;
}

.game-wrapper .win-block .restart-win-button:hover {
  -webkit-box-shadow: 0 0 40px green;
          box-shadow: 0 0 40px green;
}

.game-wrapper .win-block .mes-go {
  width: 40vw;
}

.game-wrapper .win-block .mes-go img {
  width: 100%;
}
/*# sourceMappingURL=main.css.map */